<div class="flex-fill d-flex flex-column align-items-stretch justify-content-end">

  <div class=" msgr-chat-messages card  flex-grow-1 mb-3 mx-3 shadow-sm">

        <div class="msgr-chat-messages-header card-header">
            <h5 class="msgr-chat-messages-header-name text-secondary mt-1">{{name$ | async}}</h5>
        </div>
        <div  #scrollMe class="msgr-chat-messages-body card-body" (scroll)="onScroll()">
          <!-- <perfect-scrollbar> -->
            <msg-message *ngFor="let message of messages$ | async" [message]="message"></msg-message>
          <!-- </perfect-scrollbar> -->
      </div>

      </div>

  <div class="msgr-chat-message-form card  shadow-sm mx-3 ">
    <div class="card-body">
        <msg-new-message-form (newMessage)="onNewMessage($event)"></msg-new-message-form>
    </div>
  </div>


</div>


