:host {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  min-height: 0px;

  margin-top: 1rem;
  // margin-bottom: 1rem;

  .show-state {
    display: flex;
    flex-direction: column;



    &--list {
      flex: 1 1 auto;
      align-items: center;

      .card {
        width: 300px;
        // height: 100%;
        height: 800px;
        overflow: hidden;
      }

    }

    &--detail {
      flex: 1 1 auto;
      @media screen and (max-width: 850px) {
        display: none;
      }
      display: flex;
      align-items: flex-end;

      .card {
        width: 300px;
        // height: 100%;
        height: 800px;
        overflow: hidden;
        margin-right: 1rem;
      }
    }

    &--chat {
      align-items: start;

      .card {
        // height: 100%;
        height: 800px;
        overflow: hidden;
        margin-left: 1rem;



      }
    }
  }




}


