
<div class="container">
  <div class="row" style="height:20rem;">
      <div [class.offset-3]="listPositionCenter$ | async" class="col-6">
        <ul class="users list-group align-middle">
          <a *ngFor="let item of userlist$ | async"
          [routerLink]="['/users', item.id]"
          routerLinkActive="active"
          class="list-group-item text-center">
              {{ item.firstname}} {{ item.secondname}}

          </a>
        </ul>

      </div>
      <div class="col-6">
          <router-outlet></router-outlet>
      </div>



  </div>
</div>










