<div [ngClass]="showState$ | async" >


  <div class="card shadow-sm msgr-user-detail-card">
      <div class="card-header">
          <h5 class="text-secondary mt-1">Информация о пользователе</h5>
      </div>
    <perfect-scrollbar class="container">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </perfect-scrollbar>
    <msg-start-chat-button class="msgr-start-chat-button" (click)="startChat()"></msg-start-chat-button>
  </div>

</div>

<router-outlet></router-outlet>


