:host {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  height: 100%;
}

.card-header {
  height: 4rem;
  vertical-align: middle
}

.show-state {
  display: flex;
  flex-direction: column;

  &--list {
    flex: 1 1 auto;

    align-items: center;
    .card {
      // width: 300px;
      height: 100%;
      overflow: hidden;
    }
  }

  &--detail {
    flex: 1 1 auto;
    @media screen and (max-width: 576px) {
      align-items: center;
    }
    align-items: flex-start;
    .card {
      min-width: 200px;
      height: 100%;
      overflow: hidden;
      margin-left: 1rem;
    }
  }

  &--chat {
    display: none;
    .card {
      height: 100%;
      overflow: hidden;
    }
  }
}

