:host {
  display: flex;
  flex-direction: row;

  min-height: 0px;

  flex: 1 1 auto;
  height: 100%;
}

.card-header {
  height: 4rem;
  vertical-align: middle
}

.msgr-user-detail-card {
  position: relative;
  height: 800px;
  width: 500px;
}
.msgr-start-chat-button {
  position: absolute;
  bottom: 210px;
  // top: 20px;
  right: 50px;
}

.show-state {
  display: flex;
  flex-direction: column;



  &--list {
    flex: 1 1 auto;

    align-items: center;
    .card {


      overflow: hidden;
    }
  }

  &--detail {
    flex: 1 1 auto;
    @media screen and (max-width: 850px) {
      align-items: center;
    }
    align-items: flex-start;
    .card {
      min-width: 200px;
      overflow: hidden;
      margin-left: 1rem;
    }
  }

  &--chat {
    display: none;
    .card {
      overflow: hidden;
    }
  }
}

