.avatar {
  display: flex;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 4rem;

  // color: white;
  // background-color: black;

  background-color: #84b9c9;
  color: white;


  overflow: hidden;

  &:hover {
    background-color:white;
    color:  black;
    font-weight: 400 !important;
  }

}

.initialsClass {
  margin: auto;


}
