
:host.show-state {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 72px;





  &.show-state--list,
  &.show-state--detail {
    align-items: flex-start;

    .msgr-avatar-link {
      display: none;
    }
    .msgr-username-link {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      width: 100%;
      height: 100%;


      &.active, &:hover {
        background-color:  #84b9c9;
        text-decoration: none !important;
        box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, .5);
        .msgr-list-name { color: white !important; }
      }

    }
  }

  &.show-state--chat {

    .msgr-username-link {
      display: none !important;
    }

    .msgr-avatar-link {
      text-decoration: none !important;
      background-color:  #84b9c9;
      color: white;
      border-radius: 50%;
      margin-left: 1rem;
      margin-right: 1rem;

      &:hover, &.active {
        box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, .5);
        background-color: white !important;
        color: black;
      }
    }

  }


}

// :host:hover {
//   &.show-state--list,
//   &.show-state--detail {
//     // background-color:  #84b9c9;
//     .msgr-list-name {
//       color: white !important;
//       text-decoration: none !important;
//     }
//   }

//   &.show-state--chat {

//     .msgr-avatar-link {
//       text-decoration: none !important;
//     }
//   }


// }




.msgr-user-list-link {

  height: 72px;
  display: flex;
  justify-content: stretch;

  &:hover,
  &.active {

    text-decoration: none !important;
  }

}
