img {
  width: 50px;
  height: 50px;

}




:host.show-state {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .msgr-media {

    display: flex;
    align-items: stretch;


    .msgr-media-body {
      display: flex;
      justify-content: center;
    }

  }

  &.show-state--list,
  &.show-state--detail {
    .msgr-media {
      padding-left: 2rem;
    }
    .msgr-avatar-link {
      display: none;
    }

  }

  &.show-state--chat {
    .msgr-media-body {
      display: none !important;
    }

  }


}

:host:hover {
  &.show-state--list,
  &.show-state--detail {
    background-color:  #84b9c9;
    .msgr-list-name {
      color: white !important;
    }
  }


}


